// vueCarousel1-01
// ==================================================/
@mixin vueCarousel1-01_theme() {
  .vueCarousel1-01 {
    background-color: #2a2a2d;
    color: #fff;

    button {
      background-color: #bab9b9;
      border: 1px solid #000;

      svg {
        fill: #fff;
      }

      &:hover {
        background-color: #fff;
      }

      &:hover svg {
        fill: #be0101;
      }
    }
  }

  .vueCarousel1-01_content {
    background-color: #1c1d22;
  }

  .vueCarousel1-01_pagebuttons {
    color: #fff;
    background-color: #343437;
    border: 1px solid #5c5d60;

    &:hover {
      background-color: #fff;
      color: #be0101;
    }
  }

}
@include vueCarousel1-01_theme();

.vueCarousel1-01 {
  
  button {
    cursor: pointer;

    span {
      vertical-align: middle;
    }

    svg {
      @extend %display--inline-block;
      vertical-align: middle;
      width: 24px;
      height: 24px;
    }
  }
}

.vueCarousel1_01_previous {
  padding: 4px 4px 4px 0; /* trbl */
}

.vueCarousel1_01_next {
  padding: 4px 0 4px 4px; /* trbl */
} 

.vueCarousel1-01_content {
  height: 50px;
}

.vueCarousel1-01_pagination {
  @extend %text--center;
  padding: 6px 0 6px 0; /* trbl */
}

.vueCarousel1-01_pagebuttons {
  @extend %display--inline-block;
  @extend %padd--4;
  margin-right: 4px;
  cursor: pointer;
}

.vueCarousel1-01_prevnext {
  @extend %text--center; 
}